flask
flask-cors
python-dotenv
opencv-contrib-python
face_recognition
SpeechRecognition
pyaudio
google-generativeai
mss
numpy
requests
pypiwin32
pyttsx3
openai-whisper
setuptools-rust
sentence-transformers
faiss-cpu
dlib
dronekit
pymavlink
MAVProxy
